{% extends 'navbar.html' %}
{% block content %}
<div class="container">
	<h2>Dashboard <small>Welcome, {{session.username}}</small></h2>
  	<ul class="nav nav-pills">
  	  {% if session.user_type == 'C' %}
	  <li class="nav-item" style="margin-right: 5px;"><a class="nav-link btn btn-outline-primary" href="/dashboard/pending_registration">Pending Registration</a></li>
	  {% endif %}
	  {% if session.user_type == 'D' or session.user_type == 'C' %}
	  <li class="nav-item" style="margin-right: 5px;"><a class="nav-link btn btn-outline-primary" href="/dashboard/registered_customers">Registered Users</a></li>
	  {% endif %}
	  {% if session.user_type == 'D' or session.user_type == 'O' %}
	  <li class="nav-item" style="margin-right: 5px;"><a class="nav-link btn btn-outline-primary" href="/dashboard/buy-product">Buy Product</a></li>
	  {% endif %}
	  <li class="nav-item" style="margin-right: 5px;"><a class="nav-link btn btn-outline-primary" href="/dashboard/warehouse">Warehouse</a></li>
	</ul>
	<div>{% block subcontent %}{% endblock %}</div>
</div>
{% endblock %}